body {
	background-color: #FFA500;
	text-align: center;
	font-family: Arial;
	padding: 0;
	margin: 0;
}
h1 {
	background-color: #008B8B;
	color: #FF8C00;
	font-size: 8em;
	padding: 50px;
}
h2 {
	color: white;
	background-color: #FF8C00;
}
img {
	height: 150px;
}
p {
	background-color:#FF8C00;
	color: white;
	padding: 50px;
	font-size: 2em;
}